
<% if @subcategory!= nil%>	
	<h4>SubCategories</h4>
	<% @subcategory.each do |sub| %>
		<h2><%= link_to sub.name, articles_path(category: sub.name) %></h2>
	<% end %>
	<br>
<% end %>
<h4>Articles</h4>
<% @clanci.each do |article| %>
<div class="jumbotron">
		<h2><%= link_to article.title, article ,class: "list-group-item active"%></h2>
		<p>Published at <%= article.created_at.strftime('%b %d, %Y') %></p>
		<p><%= truncate(article.content.html_safe, length: 2000000) %></p>
		</div>
<% end %>






