
body{
  background-color: #f6f6f6;
    display: block;
    margin: 8px;
}
#search-form{
  margin-top: 10px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
  #left-footer{
  font-size: 17px;

  }
  #right-footer{
  margin-top: -40px;
  align: left;
  }
}

