<footer class="footer">

    <div id="left-footer">The <%= link_to "Wikipedia ", root_path %>by Tran Viet Hung, Nguyen Duy Hung, Nguyen Khac Khoi</a>
      <div>
    <div >
     <ul class="nav navbar-nav navbar-left" align="left">
   <li class="btn btn-social-icon btn-twitter">
    <a href="http://twitter.com", class="fa fa-twitter"></a>
   </li>
   <li class="btn btn-social-icon btn-facebook">
    <a href="http://facebook.com", class="fa fa-facebook"></a>     
    </li>
    <li class="btn btn-social-icon btn-google-plus"> 
   <a href="http://google.com", class="fa fa-google-plus"></a> 
</li>
</div>
</footer>